<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--thread-count="1"表示并发个数-->
<suite verbose="0" name="经营管理平台" parallel="tests" thread-count="2">
    <parameter name="browser" value="Chrome"/>
    <parameter name="nodeUrl" value="http://183.134.216.111:18011/basicComponents/login.html"/>
    <test name="采购管理系统" preserve-order="false" >
        <classes>
            <class name="com.zd.business.PurchaseManagement">
                <methods>
                    <include name="Login"/>
                    <include name="reviewApproval"/>
                    <include name="contactList"/>
                    <include name="examine"/>
                    <include name="purchase"/>
                    <include name="invoice"/>
                    <include name="addPaymentApproval"/>
                    <include name="confirmPayment"/>
                </methods>
            </class>
        </classes>
    </test>
    <!--<test name="人资管理系统" preserve-order="false" >-->
        <!--<classes>-->
            <!--<class name="com.zd.business.HumanCapitalManage">-->
                <!--<methods>-->
                    <!--<include name="Login"/>-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->    <!--</test>-->
<!--<suite verbose="0" name="app" parallel="methods" thread-count="1">-->
    <!--<test name="app" preserve-order="false" >-->
        <!--<classes>-->
            <!--<class name="com.zd.Appium.AppiumTest">-->
                <!--<methods>-->
                   <!--<include name="testContext" />-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <listeners>
        <listener class-name="com.zd.utils.TestFailListener"/>
    </listeners>
</suite> 